
@import base

// ********************************************************************************** GLOBALS

$bigbreakpoint: 800px


// ********************************************************************************** GENERAL

.table
  width: 100%
  height: 100%
  display: table

#app 
  display: table-cell
  vertical-align: middle