!!!5
html(lang="en")
  head
    meta(charset='utf-8')

    //
      | *
      | *
      | * Hi there, have a look at my source files here:
      | * https://github.com/stefanRitter/
      | *
      | *

    title Martian Robot

    meta(name='description',content='Martian Robot Challenge')
    meta(name='author',content='Stefan Ritter')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')

    link(rel='author',href='https://plus.google.com/115904556340885582567?rel=author')
    link(href='../stylesheets/application.css',rel='stylesheet',type='text/css')

  body
    div#app

    script(src='../javascripts/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='../javascripts/socketIO-marsLander.js')
