!!!5
html(lang="en")
  head
    meta(charset='utf-8')

    //
      | *
      | *
      | * Hi there, have a look at my source files here:
      | * https://github.com/stefanRitter/
      | *
      | *

    title Martian Robot

    meta(name='description',content='Martian Robot Challenge')
    meta(name='author',content='Stefan Ritter')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')

    link(rel='author',href='https://plus.google.com/115904556340885582567?rel=author')
    link(href='../stylesheets/application.css',rel='stylesheet',type='text/css')


    //- jasmine test framework
    link(rel="stylesheet",type="text/css",href="../javascripts/tests/jasmine.css")
    script(type="text/javascript",src="../javascripts/tests/jasmine.js")
    script(type="text/javascript",src="../javascripts/tests/jasmine-html.js")
    //- tests
    script(type="text/javascript",src="../javascripts/tests/testSpec.js")


    //- templates
    script#InputView(type='text/template')
      form
        textarea(name='description')
          | enter commands here
        input(type='submit',value='launch mission')

    script#HALView(type='text/template')
      img(src="../images/hal.png")
      div.title
        | HAL9000
      div.error
      audio
        source(src="../sounds/cantdo.ogg",type="audio/ogg")
        source(src="../sounds/cantdo.mp3",type="audio/mpeg")

  body
    div#app

    script(src='../javascripts/jquery-1.9.1.min.js')
    script(src='../javascripts/underscore-min.js')
    script(src='../javascripts/backbone-min.js')
    script(src='../javascripts/application.js')

    //- start jasmine
    script(type="text/javascript")
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var htmlReporter = new jasmine.HtmlReporter();

        jasmineEnv.addReporter(htmlReporter);

        jasmineEnv.specFilter = function(spec) {
          return htmlReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }
      })();
