/* Global reset
 * http://meyerweb.com/eric/tools/css/reset/
 **************************************************************** */
/* line 15, ../../sass/_base.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* SASS placeholder selector clearfix 
 * http://sasstwo.codeschool.com/
 **************************************************************** */
/* line 32, ../../sass/_base.sass */
.clearfix {
  zoom: 1;
}
/* line 35, ../../sass/_base.sass */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
/* line 39, ../../sass/_base.sass */
.clearfix:after {
  clear: both;
}

/* line 44, ../../sass/_base.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../../sass/application.sass */
#app {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

/* line 15, ../../sass/application.sass */
.input, .output, .mars {
  border: 0;
}

/* line 18, ../../sass/application.sass */
.input, .output {
  width: 40%;
  height: 40%;
  margin-top: 2%;
  background-color: black;
  color: green;
  font-family: Courier, monospace;
  font-size: 0.8em;
}

/* line 30, ../../sass/application.sass */
.mars {
  float: left;
  width: 100%;
  height: 50%;
  margin-top: 2%;
  background: url("../images/noise.jpg");
}

/* line 40, ../../sass/application.sass */
.input {
  float: left;
}
/* line 44, ../../sass/application.sass */
.input .commandHistory {
  height: 80%;
  width: 96%;
  padding: 0 2%;
  overflow: hidden;
}
/* line 50, ../../sass/application.sass */
.input input {
  display: block;
  height: 18%;
  margin: 4% 0;
  color: green;
  border: 0;
  background-color: black;
  font-family: Courier, monospace;
}
/* line 59, ../../sass/application.sass */
.input input[type=text] {
  float: left;
  width: 96%;
  padding-left: 2%;
}
/* line 64, ../../sass/application.sass */
.input input[type=submit] {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

/* line 72, ../../sass/application.sass */
.output {
  float: right;
}
/* line 76, ../../sass/application.sass */
.output .outputTitle {
  margin: 4% 0 1.5% 2%;
}
/* line 79, ../../sass/application.sass */
.output .outputHistory {
  padding: 2%;
  height: 96%;
  width: 96%;
  overflow: hidden;
}

/* line 86, ../../sass/application.sass */
.hal {
  float: left;
  width: 15%;
  margin: 4.5% 2.5%;
}
/* line 90, ../../sass/application.sass */
.hal img {
  display: block;
  width: 100%;
}
/* line 93, ../../sass/application.sass */
.hal audio {
  height: 0;
}
